<header class="header">
    <a href="#">
        <h2 class="left-part">vm-ecommerce</h2>
    </a>
    <div class="right-part">
        <div class="top">
            <div class="search-box">
                <input type="text" name="search" id="search-input" placeholder="search">
                <img src="./images/magnifying-glass-solid.svg" alt="search icon" id="search-icon">
            </div>
            <div class="user-box">
                <img src="./images//user-regular.svg" alt="user icon" id="user-icon">
            </div>
            <div class="cart-box">
                <img src="./images/cart-shopping-solid.svg" alt="cart icon" id="cart-icon">
            </div>
        </div>
        <div class="bottom">
            <button class="order">view orders</button>
        </div>
    </div>
</header>