<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/browse.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/header.css">
    <title>VM Ecommerce</title>
</head>