<header>
    <h1 class="logo">VM</h1>
    <nav>
        <ul class="navbar">
            <li><a href="#">Shop</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <span id="user-pref">
        <input type="text" placeholder="search" id="search-input">
        <a id="search-icon"><i class="fas fa-search"></i></a>
        <a id="cart-icon"><i class="fa-solid fa-cart-shopping"></i>
            <div id="count-circle">0</div>
        </a>
        <button class="login-logout" id="login-logout">Login</button>
        <a id="hamburger-icon"><i class="fa-solid fa-bars"></i></a>
        <nav id="dropdown-container">
            <ul class="navbar-hamburger">
                <li><a href="#">Shop</a></li>
                <li><a href="#">Collection</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </span>
</header>