<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
            <button id="toggle-filter" class="login-logout">Tap to filter</button>
            <h1 id="products-heading">Products</h1>
            <section class="container">
                <!-- <button class="filter-button">Toggle Filter</button> -->
                <div class="filter" id="filter">
                    <div class="head">
                        <h1>Filter</h1>
                        <hr id="line-filter">
                    </div>

                    <form action="" method="post">
                        <div class="side">
                            <h2 class="category-type">Category:</h2>

                            <div class="category-box2 flex-display">
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="category" id="" value="Men">
                                        Men
                                    </label>
                                </fieldset>
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="category" id="" value="Women">
                                        Women
                                    </label>
                                </fieldset>
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="category" id="" value="Seasonal">
                                        Seasonal
                                    </label>
                                </fieldset>
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="category" id="" value="Sportswear">
                                        Sportswear
                                    </label>
                                </fieldset>
                            </div>
                        </div>
                        <div class="side">
                            <h2 class="category-type">Type:</h2>
                            <div class="category-box2 flex-display">
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="type" id="" value="Shoe">
                                        Shoe
                                    </label>
                                </fieldset>
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="type" id="" value="=Shirt">
                                        Shirt
                                    </label>
                                </fieldset>
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="type" id="" value="Jacket">
                                        Jacket
                                    </label>
                                </fieldset>
                                <fieldset>

                                    <label for="">
                                        <input type="radio" name="type" id="" value="Shorts">
                                        Shorts
                                    </label>
                                </fieldset>
                            </div>
                        </div>

                        <div class="side">
                            <h2 class="category-type">Color:</h2>

                            <div class="category-box2 newstyle">
                                <fieldset>
                                    <input type="radio" name="color" id="blue" value="Blue">
                                    <label for="blue" class="color-option" style="background-color: blue;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="brown" value="Brown">
                                    <label for="brown" class="color-option" style="background-color: brown;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="red" value="Red">
                                    <label for="red" class="color-option" style="background-color: red;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="green" value="Green">
                                    <label for="green" class="color-option" style="background-color: green;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="purple" value="Purple">
                                    <label for="purple" class="color-option" style="background-color: purple;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="yellow" value="Yellow">
                                    <label for="yellow" class="color-option" style="background-color: yellow;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="orange" value="Orange">
                                    <label for="orange" class="color-option" style="background-color: orange;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="pink" value="Pink">
                                    <label for="pink" class="color-option" style="background-color: pink;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="cyan" value="Cyan">
                                    <label for="cyan" class="color-option" style="background-color: cyan;"></label>
                                </fieldset>
                                <fieldset>
                                    <input type="radio" name="color" id="magenta" value="Magenta">
                                    <label for="magenta" class="color-option"
                                        style="background-color: magenta;"></label>
                                </fieldset>
                            </div>
                        </div>
                        <button class="login-logout fix-margin" id="filter-button">Filter</button>
                    </form>

                </div>
                <div class="products">
                    <div class="products-box">
                        <div class="item-card" data-name="p-1">
                            <img src="https://cdn.pixabay.com/photo/2016/12/06/09/30/blank-1886001_640.png"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Plain Black Shirt</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Unisex</p>
                                    <p class="item-price">R149.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>

                        <!-- item 2 -->
                        <div class="item-card" data-name="p-2">
                            <img src="https://cdn.pixabay.com/photo/2013/07/13/14/07/apparel-162180_640.png"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Golf T-Shirt</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Men</p>
                                    <p class="item-price">R599.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>

                        <!-- item 3 -->
                        <div class="item-card" data-name="p-3">
                            <img src="https://img.freepik.com/free-photo/still-life-rendering-jackets-display_23-2149745027.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Baseball Jacket</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Unisex</p>
                                    <p class="item-price">R1299.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>

                        <!-- item 4 -->
                        <div class="item-card" data-name="p-4">
                            <img src="https://img.freepik.com/free-psd/black-hoodie-mockup_1409-3744.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Hoodie</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Unisex</p>
                                    <p class="item-price">R299.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>

                        <!-- item 5 -->
                        <div class="item-card" data-name="p-5">
                            <img src="https://img.freepik.com/free-photo/close-up-portrait-teenager-isolated_23-2149158186.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Hoodie</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Women</p>
                                    <p class="item-price">R899.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>

                        <!-- item 6 -->
                        <div class="item-card" data-name="p-6">
                            <img src="https://img.freepik.com/free-photo/white-denim-jacket-front-view-streetwear-fashion_53876-106035.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Jean Jacket</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Women</p>
                                    <p class="item-price">R399.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>

                        <!-- item 7 -->
                        <div class="item-card" data-name="p-7">
                            <img src="https://img.freepik.com/free-photo/women-s-basic-sportswear-set-with-bras-leggings_53876-102085.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Gym wear</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Women</p>
                                    <p class="item-price">R1999.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>

                        <!-- item 8 -->
                        <div class="item-card" data-name="p-8">
                            <img src="https://img.freepik.com/free-psd/cap-mockup_1310-495.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Cap</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Unisex</p>
                                    <p class="item-price">R99.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>

                        <!-- item 9 -->
                        <div class="item-card" data-name="p-9">
                            <img src="https://media.istockphoto.com/id/1468851007/photo/dress-isolated-closeup-of-colorful-elegant-stylish-black-and-white-striped-sleeveless-summer.jpg?s=612x612&w=0&k=20&c=ijQQDiG1HB2xrTJMgtdFCmKyEVURkLKxt8XR_OQrKEs="
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Sunday Dress</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Women</p>
                                    <p class="item-price">R299.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>

                        <!-- item 10 -->
                        <div class="item-card" data-name="p-10">
                            <img src="https://img.freepik.com/free-photo/fashion-shoes-sneakers_1203-7529.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Sneaker</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Men</p>
                                    <p class="item-price">R299.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>

                        <div class="item-card" data-name="p-11">
                            <img src="https://media.istockphoto.com/id/125838508/photo/infant-striped-shirt.jpg?s=612x612&w=0&k=20&c=Iy8BCND0iHjLdZsBqWGRV-MGCbgJfTa7A5VW_hrTNgw="
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Suit</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">men</p>
                                    <p class="item-price">R3299.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="item-card" data-name="p-12">
                            <img src="https://img.freepik.com/free-psd/design-space-blank-tote-bag_53876-57343.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Tote bag</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Women</p>
                                    <p class="item-price">R199.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="item-card" data-name="p-13">
                            <img src="https://img.freepik.com/free-photo/beautiful-elegance-luxury-fashion-women-bag_74190-4900.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Hand bag</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Women</p>
                                    <p class="item-price">R299.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="item-card" data-name="p-14">
                            <img src="https://img.freepik.com/premium-vector/converse-shoes-hight-vectro-image-illustration_776624-2.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">All Star</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Unisex</p>
                                    <p class="item-price">R1099.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="item-card" data-name="p-15">
                            <img src="https://img.freepik.com/free-photo/sport-running-shoes_1203-3414.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Runner</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Women</p>
                                    <p class="item-price">R799.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="item-card" data-name="p-16">
                            <img src="https://img.freepik.com/premium-photo/portrait-funny-young-woman-winter-coat-winking-smiling_171337-115829.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=ais"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Puffer Jacket</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Women</p>
                                    <p class="item-price">R2899.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="item-card" data-name="p-17">
                            <img src="https://img.freepik.com/premium-photo/yellow-jacket-warm-sweater-hat-white-background-set-children-s-clothes-autumn-winter-fashion-kids-outfit_479776-7715.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=ais"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Winter Set</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Women</p>
                                    <p class="item-price">R299.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="item-card" data-name="p-18">
                            <img src="https://img.freepik.com/premium-psd/black-beanie-cap-logo-design-mockup-design_57262-110.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Beanie</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Boys</p>
                                    <p class="item-price">R99.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="item-card" data-name="p-19">
                            <img src="https://img.freepik.com/free-vector/knitted-hat-scarf-flat-illustration_1284-11702.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Beanie</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Women</p>
                                    <p class="item-price">R299.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="item-card" data-name="p-20">
                            <img src="https://img.freepik.com/free-photo/pair-socks_1203-2463.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Boys socks</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Men</p>
                                    <p class="item-price">R59.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="item-card" data-name="p-21">
                            <img src="https://img.freepik.com/premium-psd/colorful-socks-design-mockup_23-2149156197.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="image-item">
                            <div class="item-content">
                                <div class="item-details">
                                    <p class="item-title">Girls socks</p>
                                    <p class="item-bull">&bull;</p>
                                    <p class="item-category">Women</p>
                                    <p class="item-price">R69.99</p>
                                </div>
                                <div class="item-actions">
                                    <button class="login-logout item-buy">Add To Cart</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="products-review">
                        <div class="preview" data-target="p-1">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://cdn.pixabay.com/photo/2016/12/06/09/30/blank-1886001_640.png"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Plain Black Shirt</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Unisex</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R149.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>

                        <div class="preview" data-target="p-2">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://cdn.pixabay.com/photo/2013/07/13/14/07/apparel-162180_640.png"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Golf T-Shirt</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Men</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R599.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>

                        <div class="preview" data-target="p-3">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/free-photo/still-life-rendering-jackets-display_23-2149745027.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Baseball Jacket</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Unisex</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R1299.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>

                        <div class="preview" data-target="p-4">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/free-psd/black-hoodie-mockup_1409-3744.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Hoodie</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Unisex</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R299.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>

                        <div class="preview" data-target="p-5">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/free-photo/close-up-portrait-teenager-isolated_23-2149158186.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Hoodie</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Women</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R899.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>

                        <div class="preview" data-target="p-6">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/free-photo/white-denim-jacket-front-view-streetwear-fashion_53876-106035.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Hoodie</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Women</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R899.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>

                        <div class="preview" data-target="p-7">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/free-photo/women-s-basic-sportswear-set-with-bras-leggings_53876-102085.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Gym wear</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Women</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R1999.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>

                        <div class="preview" data-target="p-8">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/free-psd/cap-mockup_1310-495.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Cap</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Unisex</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R99.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>
                        <div class="preview" data-target="p-9">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://media.istockphoto.com/id/1468851007/photo/dress-isolated-closeup-of-colorful-elegant-stylish-black-and-white-striped-sleeveless-summer.jpg?s=612x612&w=0&k=20&c=ijQQDiG1HB2xrTJMgtdFCmKyEVURkLKxt8XR_OQrKEs="
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Sunday Dres</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Women</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R299.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>
                        <div class="preview" data-target="p-10">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/free-photo/fashion-shoes-sneakers_1203-7529.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Sneaker</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Men</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R299.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>
                        <div class="preview" data-target="p-11">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://media.istockphoto.com/id/125838508/photo/infant-striped-shirt.jpg?s=612x612&w=0&k=20&c=Iy8BCND0iHjLdZsBqWGRV-MGCbgJfTa7A5VW_hrTNgw="
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Suit</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Men</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R3299.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>
                        <div class="preview" data-target="p-12">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/free-psd/design-space-blank-tote-bag_53876-57343.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Tote bag</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Women</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R199.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>
                        <div class="preview" data-target="p-13">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/free-photo/beautiful-elegance-luxury-fashion-women-bag_74190-4900.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Hand bag</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Women</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R299.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>
                        <div class="preview" data-target="p-14">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/premium-vector/converse-shoes-hight-vectro-image-illustration_776624-2.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">All Star</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Unisex</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R1099.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>
                        <div class="preview" data-target="p-15">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/free-photo/sport-running-shoes_1203-3414.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Runner</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Women</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R799.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>
                        <div class="preview" data-target="p-16">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/premium-photo/portrait-funny-young-woman-winter-coat-winking-smiling_171337-115829.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=ais"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Puffer Jacket</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Women</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R2899.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>
                        <div class="preview" data-target="p-17">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/premium-photo/yellow-jacket-warm-sweater-hat-white-background-set-children-s-clothes-autumn-winter-fashion-kids-outfit_479776-7715.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=ais"
                            alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                         <div class="preview-details">
                                <p class="preview-title">Winter Set</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Women</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R299.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>
                        <div class="preview" data-target="p-18">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/premium-psd/black-beanie-cap-logo-design-mockup-design_57262-110.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Beanie</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Biys</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R99.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>
                        <div class="preview" data-target="p-19">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/free-vector/knitted-hat-scarf-flat-illustration_1284-11702.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                             <div class="preview-details">
                                <p class="preview-title">Beanie</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Women</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R299.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>
                        <div class="preview" data-target="p-20">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/free-photo/pair-socks_1203-2463.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                            <div class="preview-details">
                                <p class="preview-title">Socks</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Men</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R59.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>
                        <div class="preview" data-target="p-21">
                            <button class="remove"><img src="/xmark-solid.svg" alt="" class="exit"></button>
                            <img src="https://img.freepik.com/premium-psd/colorful-socks-design-mockup_23-2149156197.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph"
                                alt="Woman wearing simple clothing. Image from freepik.com" class="preview-image">
                             <div class="preview-details">
                                <p class="preview-title">Girls socks</p>
                                <p class="preview-bull">&bull;</p>
                                <p class="preview-category">Women</p>
                            </div>
                            <p class="description">Good Quality, I love it Good Quality,I love it Good Qualit I love it
                                Good Quality, I love it Good Quality, I love it</p>
                            <div class="price">
                                <p class="item-price">R69.99</p>
                            </div>
                            <div class="buttons">
                                <button id="add-to-cart-btn">add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <script src="/nav.js"></script>

            <%- include('./partials/footer.ejs') %>
                <script>
                    document.getElementById('toggle-filter').addEventListener('click', function () {
                        if (document.querySelector('.filter').classList.contains('hide')) {
                            document.querySelector('.filter').classList.remove('hide')
                        } else {
                            document.querySelector('.filter').classList.toggle('open');
                        }
                    });

                    let filter = document.querySelector('.filter')
                    console.log(filter)

                    document.addEventListener('click', (e) => {

                        if (!filter.contains(e.target) && e.target.id !== 'toggle-filter') {
                            console.log(filter.classList.contains('hide'))
                            filter.classList.add('hide')
                        }
                    })



                    // -----------------------------------------------


                    let previewContainer = document.querySelector('.products-review')
                    console.log(previewContainer)
                    let previewBox = previewContainer.querySelectorAll('.preview')
                    console.log(previewBox)


                    document.querySelectorAll('.image-item').forEach(image => {
                        let product = image.parentNode;
                        // console.log('product ->>> ', product)
                        image.onclick = () => {
                            // console.log("product clicked")
                            previewContainer.style.display = 'flex'
                            let name = product.getAttribute('data-name')

                            previewBox.forEach(preview => {

                                let target = preview.getAttribute('data-target')
                                if (name == target) {
                                    preview.classList.add('active')
                                }

                            })
                        }
                    })


                    previewBox.forEach(close => {
                        close.querySelector('.remove').onclick = () => {
                            close.classList.remove('active')
                            previewContainer.style.display = 'none'
                        }
                    })
                </script>

    </body>


</html>