<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <div id="text">
        <!-- <h1>browse</h1> -->
    </div>
    <section class="container">
        <div class="filter">
            <div class="head">
                <h1>Filter</h1>
                <hr id="line">
            </div>

            <form action="" method="post">
                <div class="side">
                    <h2 class="category-type">Category:</h2>

                    <div class="category-box2">
                        <fieldset>

                            <label for="">
                                <input type="radio" name="" id="" value="Men">
                                Men
                            </label>
                        </fieldset>
                        <fieldset>

                            <label for="">
                                <input type="radio" name="" id="" value="Women">
                                Women
                            </label>
                        </fieldset>
                        <fieldset>

                            <label for="">
                                <input type="radio" name="" id="" value="Seasonal">
                                Seasonal
                            </label>
                        </fieldset>
                        <fieldset>

                            <label for="">
                                <input type="radio" name="" id="" value="Sportswear">
                                Sportswear
                            </label>
                        </fieldset>
                    </div>
                </div>
                <div class="side">
                    <h2 class="category-type">Type:</h2>
                    <div class="category-box2">
                        <fieldset>

                            <label for="">
                                <input type="radio" name="" id="" value="Shoe">
                                Shoe
                            </label>
                        </fieldset>
                        <fieldset>

                            <label for="">
                                <input type="radio" name="" id="" value="=Shirt">
                                Shirt
                            </label>
                        </fieldset>
                        <fieldset>

                            <label for="">
                                <input type="radio" name="" id="" value="Jacket">
                                Jacket
                            </label>
                        </fieldset>
                        <fieldset>

                            <label for="">
                                <input type="radio" name="" id="" value="Shorts">
                                Shorts
                            </label>
                        </fieldset>
                    </div>
                </div>

                <div class="side">
                    <h2 class="category-type">Color:</h2>

                    <div class="category-box2">
                        <fieldset>

                            <label for="">
                                <input type="radio" name="" id="" value="Blue">
                                Blue
                            </label>
                        </fieldset>
                        <fieldset>

                            <label for="">
                                <input type="radio" name="" id="" value="Brown">
                                Brown
                            </label>
                        </fieldset>
                        <fieldset>

                            <label for="">
                                <input type="radio" name="" id="" value="Red">
                                Red
                            </label>
                        </fieldset>
                        <fieldset>

                            <label for="">
                                <input type="radio" name="" id="" value="Green">
                                Green
                            </label>
                        </fieldset>
                    </div>
                </div>
                <div class="button-div">
                    <button> Filter </button>
                </div>


            </form>

        </div>
        <div class="products">
            <div class="head ">
                <h1>Products</h1>
                <hr id="line">
            </div>
            <div class="products-box">
                <div class="item-card">
                    <img src="https://cdn.pixabay.com/photo/2016/12/06/09/30/blank-1886001_640.png" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Plain Black Shirt</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Unisex</p>
                            <p class="item-price">R149.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>

                <!-- item 2 -->
                <div class="item-card">
                    <img src="https://cdn.pixabay.com/photo/2013/07/13/14/07/apparel-162180_640.png" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Golf T-Shirt</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Men</p>
                            <p class="item-price">R599.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>

                <!-- item 3 -->
                <div class="item-card">
                    <img src="https://img.freepik.com/free-photo/still-life-rendering-jackets-display_23-2149745027.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Baseball Jacket</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Unisex</p>
                            <p class="item-price">R1299.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>

                <!-- item 4 -->
                <div class="item-card">
                    <img src="https://img.freepik.com/free-psd/black-hoodie-mockup_1409-3744.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Hoodie</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Unisex</p>
                            <p class="item-price">R299.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>

                <!-- item 5 -->
                <div class="item-card">
                    <img src="https://img.freepik.com/free-photo/close-up-portrait-teenager-isolated_23-2149158186.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Hoodie</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Women</p>
                            <p class="item-price">R899.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>

                <!-- item 6 -->
                <div class="item-card">
                    <img src="https://img.freepik.com/free-photo/white-denim-jacket-front-view-streetwear-fashion_53876-106035.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Jean Jacket</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Women</p>
                            <p class="item-price">R399.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>

                <!-- item 7 -->
                <div class="item-card">
                    <img src="https://img.freepik.com/free-photo/women-s-basic-sportswear-set-with-bras-leggings_53876-102085.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Gym wear</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Women</p>
                            <p class="item-price">R1999.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>

                <!-- item 8 -->
                <div class="item-card">
                    <img src="https://img.freepik.com/free-psd/cap-mockup_1310-495.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Cap</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Unisex</p>
                            <p class="item-price">R99.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>

                <!-- item 9 -->
                <div class="item-card">
                    <img src="https://media.istockphoto.com/id/1468851007/photo/dress-isolated-closeup-of-colorful-elegant-stylish-black-and-white-striped-sleeveless-summer.jpg?s=612x612&w=0&k=20&c=ijQQDiG1HB2xrTJMgtdFCmKyEVURkLKxt8XR_OQrKEs=" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Sunday Dress</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Women</p>
                            <p class="item-price">R299.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>

                <!-- item 10 -->
                <div class="item-card">
                    <img src="https://img.freepik.com/free-photo/fashion-shoes-sneakers_1203-7529.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Sneaker</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Men</p>
                            <p class="item-price">R299.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>

                <div class="item-card">
                    <img src="https://media.istockphoto.com/id/125838508/photo/infant-striped-shirt.jpg?s=612x612&w=0&k=20&c=Iy8BCND0iHjLdZsBqWGRV-MGCbgJfTa7A5VW_hrTNgw=" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Suit</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">men</p>
                            <p class="item-price">R3299.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>
                <div class="item-card">
                    <img src="https://img.freepik.com/free-psd/design-space-blank-tote-bag_53876-57343.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Tote bag</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Women</p>
                            <p class="item-price">R199.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>
                <div class="item-card">
                    <img src="https://img.freepik.com/free-photo/beautiful-elegance-luxury-fashion-women-bag_74190-4900.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Hand bag</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Women</p>
                            <p class="item-price">R299.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>
                <div class="item-card">
                    <img src="https://img.freepik.com/premium-vector/converse-shoes-hight-vectro-image-illustration_776624-2.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">All Star</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Unisex</p>
                            <p class="item-price">R1099.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>
                <div class="item-card">
                    <img src="https://img.freepik.com/free-photo/sport-running-shoes_1203-3414.jpg?size=626&ext=jpg&ga=GA1.1.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Runner</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Women</p>
                            <p class="item-price">R799.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>
                <div class="item-card">
                    <img src="https://img.freepik.com/premium-photo/portrait-funny-young-woman-winter-coat-winking-smiling_171337-115829.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=ais" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Puffer Jacket</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Women</p>
                            <p class="item-price">R2899.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>
                <div class="item-card">
                    <img src="https://img.freepik.com/premium-photo/yellow-jacket-warm-sweater-hat-white-background-set-children-s-clothes-autumn-winter-fashion-kids-outfit_479776-7715.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=ais" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Winter Set</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Women</p>
                            <p class="item-price">R299.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>
                <div class="item-card">
                    <img src="https://img.freepik.com/premium-psd/black-beanie-cap-logo-design-mockup-design_57262-110.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Beanie</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Boys</p>
                            <p class="item-price">R99.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>
                <div class="item-card">
                    <img src="https://img.freepik.com/free-vector/knitted-hat-scarf-flat-illustration_1284-11702.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Beanie</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Women</p>
                            <p class="item-price">R299.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>
                <div class="item-card">
                    <img src="https://img.freepik.com/free-photo/pair-socks_1203-2463.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Boys socks</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Men</p>
                            <p class="item-price">R59.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>
                <div class="item-card">
                    <img src="https://img.freepik.com/premium-psd/colorful-socks-design-mockup_23-2149156197.jpg?size=626&ext=jpg&ga=GA1.2.1215720513.1705537472&semt=sph" alt="Woman wearing simple clothing. Image from freepik.com"
                        class="image-item">
                    <div class="item-content">
                        <div class="item-details">
                            <p class="item-title">Girls socks</p>
                            <p class="item-bull">&bull;</p>
                            <p class="item-category">Women</p>
                            <p class="item-price">R69.99</p>
                        </div>
                        <div class="item-actions">
                            <button class="login-logout item-buy">Buy</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>