<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>vm-ecormmerce</title>
</head>

<body>
    <header>
        <h1 class="logo">VM</h1>
        <nav>
            <ul class="navbar">
                <li><a href="#">Shop</a></li>
                <li><a href="#">Collection</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <span id="user-pref">
            <input type="text" placeholder="search">
            <a><i class="fas fa-search"></i></a>
            <a><i class="fa-solid fa-cart-shopping"></i></a>
            <button>Login</button>
        </span>
    </header>
    <main></main>
    <footer></footer>
</body>

</html>