<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Shop</title>
    <link rel="stylesheet" href="/userStyle.css">
</head>

<body>
    <main>
        <div class="container">
            <h2>Forgot Password</h2>
            <form onsubmit="event.preventDefault(); sendEmail()">
                <p class="message">Please enter your email below and a link will be sent to reset your password.</p>
                <input type="email" placeholder="Email" id="email-forgot" autocomplete="off" required>
                <input type="submit" value="Reset" class="submit">
            </form>
        </div>
    </main>

    <script>
        let server_url = '<%- url %>'
    </script>

    <script src="/userScript.js"></script>
</body>

</html>