<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>

    <head>
        <link rel="stylesheet" href="/userStyle.css">
        <script>
            let server_url = '<%- url %>'
        </script>
    </head>

    <body>
        <%- include('../partials/header.ejs')%>
        <main>
            <div class="container">
                <h2>Reset Password</h2>
                <form id="signup" onsubmit="event.preventDefault(); resetPassword()">
                    <input type="password" placeholder="New Password" id="password-signup" required>
                    <input type="password" placeholder="Confirm Password" id="confirm-signup" required>
                    <input id="save-btn" type="submit" value="Save" class="submit">
                </form>
            </div>
        </main>
        <%- include('../partials/footer.ejs')%>

        <script>
            const params = new URLSearchParams(window.location.search);
            const user_email = params.get('email');
        </script>

        <script src="/userScript.js"></script>
    </body>

</html>