:root {
    --bg-color-main: white;
    --bg-color-secondary: #B9B4C7;
    --fg-color-main: #352F44;
    --fg-color-secondary: #5C5470;
    --font-color: var(--fg-color-main);
    --radius-boxes: 5px;
    --radius-button: 30px;
    --shadow-color: rgba(0, 0, 0, 0.22);
    --dropshadow: 6px 5px 20px 1px var(--shadow-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: var(--font-color)
}

body {
    background-color: var(--bg-color-main);
}

.container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    height: 100%;
    width: 98vw;
    background-color: var(--bg-color-main);
    margin-left: 10px;
}

.filter {
    background-color: var(--bg-color-main);
    border-right: 1px solid var(--fg-color-main);
    height: 100%;
}

.products {
    background-color: var(--bg-color-main);
    max-height: 1000px;
    overflow-y: scroll;
}

#products-heading {
    margin-top: 80px;
    margin-bottom: 45px;
    text-align: center;
    font-size: 42px;
}

/* --------------------- */

.head {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.sticky-head {
    position: sticky;
    top: 0px;
    left: 0px;
}

.head h1 {
    text-align: center;
}

#line-filter {
    width: 90%;
    height: 1px;
    margin: 20px auto;
    border-color: var(--fg-color-main);
}

fieldset {
    border: none;
    margin: 20px 10px 20px 10px;
    font-weight: 600;
}

.category-type {
    font-size: 20px;
    color: var(--fg-color-main);
    margin-left: 20px;
    margin-bottom: 10px;
}

.category-box2 {
    margin-left: 40px;
}

.side {
    margin-left: 20px;
}

form #filter-button {
    margin: 40px 50px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* ------------------------- items ------------------ */

.products-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.products-box .item-card {
    width: 250px;
    height: 350px;
    border-radius: 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.products-box .image-item {
    width: 100%;
    height: 70%;
    object-fit: fill;
}

.products-box .item-content {
    width: 100%;
    height: 29%;
    background-color: var(--bg-color-main);
    display: flex;
    flex-direction: column;
}

.products-box .item-details {
    height: 50%;
    width: 100%;
    padding: 5px;
    border-bottom: solid 1px var(--fg-color-secondary);
}

.products-box .item-details .item-title {
    font-size: 14px;
    color: var(--fg-color-main);
    display: inline;
    font-weight: bold;
}

.products-box .item-details .item-price {
    margin-top: 3px;
    font-size: 20px;
    color: var(--fg-color-secondary);
    font-weight: bold;
    display: block;
}

.products-box .item-category {
    font-size: 14px;
    display: inline;
}

.products-box .item-bull {
    font-size: 16px;
    margin: 0 10px;
    color: var(--fg-color-main);
    display: inline;
}

.products-box .item-actions {
    height: 50%;
    width: 100%;
    display: flex;
}

.products-box .item-buy {
    cursor: pointer;
    width: 100px;
    margin: 10px auto;
}

.products-box .image-item {
    cursor: pointer;
}

@media (max-width:500px) {
    .side {
        margin-left: 0px;
    }

    .category-box2 {
        margin-left: 20px;
    }

    .head {
        font-size: 12px;
    }


}


/* color filter */

.color-option {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
}

input[type="radio"][name="color"] {
    display: none;
}

fieldset {
    border: none;
}

.newstyle {
    display: flex;
    height: auto;
    width: 250px;
    flex-wrap: wrap;
    margin-right: 10px;
}

.color-option:hover {
    border: 2px solid black;
}

@media(max-width: 600px) {
    .color-option {
        width: 20px;
        height: 20px;
    }

    .newstyle {
        width: 160px;
        margin-right: 5px;
    }

}

/* -------------------------------------------------------------------- */

#toggle-filter {
    display: none;
}

@media (max-width: 450px) {

    .container {
        grid-template-columns: 1fr;
    }

    #toggle-filter {
        display: block;
        margin: 10px auto;
    }


    .filter {
        position: fixed;
        top: 100px;
        left: 0;
        width: 70%;
        height: fit-content;
        min-height: 500px;
        max-height: 520px;
        background-color: var(--bg-color-main);
        z-index: 1;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .products {
        margin-left: 0;
    }

    .filter.open {
        transform: translateX(0);
        transition: 0.3s;
    }

    .hide {
        display: none;
        transition: 0.3s;
    }

    .newstyle {
        width: 200px;
        height: 100px;
    }

    .fix-margin {
        margin: 10px auto;
    }
}


@media (max-width: 500px) {
    .category-type {
        font-size: 1.4rem;
    }

    .category-box2 {
        margin-left: 10px;
    }

    .side {
        margin-left: 10px;
    }

    form #filter-button {
        margin: 20px 90px;
    }

    .flex-display {
        display: flex;
        flex-wrap: wrap;
    }

    fieldset {
        margin: 10px;
    }
}

@media(max-width:300px){
    .filter{
        width: 80%;
    }
}