:root {
    --bg-color-main: white;
    --bg-color-secondary: gray;
    --fg-color-main: forestgreen;
    --fg-color-secondary: maroon;
    --font-color: #121212;
    --radius-boxes: 5px;
    --radius-button: 30px;
    --shadow-color: rgba(0, 0, 0, 0.22);
    --dropshadow: 6px 5px 20px 1px var(--shadow-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: medium;
    color: var(--font-color)
}

main {
    display: flex;
    justify-content: center;
    background-color: var(--bg-color-main);
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 600px;
    background-color: var(--bg-color-main);
    margin: 30px 0px;
    border-radius: 30px;
    box-shadow: var(--dropshadow);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

/******* Container Responsiveness ********/

@media(max-width: 1100px) {
    .container {
        width: 45%;
    }
}

@media(max-width: 900px) {
    .container {
        width: 55%;
    }
}

@media(max-width: 750px) {
    .container {
        width: 75%;
    }
}

@media(max-width: 550px) {
    .container {
        width: 95%;
    }
}

/*************************************/

.container h2 {
    font-size: 32px;
}

.container form {
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
    width: 100%;
}

#email,
#email-signup,
#name-signup {
    margin-bottom: 30px;
    height: 30px;
}

#email-update, #email-forgot {
    height: 30px;
    margin-bottom: 10px;
}

#email-forgot {
    height: 30px;
}

form .message {
    margin-bottom: 30px;
}

form #trashcan {
    margin-top: 30px;
    border: none;
    background-color: transparent;
    font-size: 15px;
}

form #trashcan i {
    color: var(--fg-color-secondary);
}

.submit {
    width: 60%;
    height: 40px;
    border: solid 2px var(--fg-color-main);
    background: var(--fg-color-main);
    color: white;
    border-radius: 30px 30px;
    margin: 0px auto;
    margin-top: 30px;
    font-weight: bold;
}

.update {
    width: 60%;
    height: 40px;
    border: solid 2px var(--fg-color-secondary);
    background: var(--fg-color-secondary);
    color: white;
    border-radius: 30px 30px;
    margin: 0px auto;
    margin-top: 30px;
    font-weight: bold;
}

#password,
#password-update,
#password-signup,
#confirm-update,
#confirm-signup {
    height: 30px;
}

#password {
    margin-bottom: 20px;
}

#confirm-update {
    margin-top: 30px;
}

#password-update {
    margin-top: 20px;
    margin-bottom: 30px;
}

#password-signup {
    margin-bottom: 30px;
}

#forgot {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.already {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
}

#signup-tag,
#signin-tag,
#forgot-tag {
    text-decoration: none;
    color: var(--fg-color-main);
    font-weight: bold;
}

/* header */

*, *::before, *::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-height: ; */
    /* border: 2px solid red; */
    height: 150px;
    padding: 0px 100px;
    background-color: var(--fg-color-main);
    position: sticky;
    top: 0;
    

}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-part{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50%;
    /* border: 2px solid red; */
    width: 500px;
    /* width: fit-content; */
}
.left-part{
    font-weight: 600;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    
}
a{
    text-decoration: none;
}
.top{
    width: 100%;
    /* border: 2px solid green; */
    height: 60%;
    display: flex;
    /* gap: 20px; */
    /* justify-content: space-evenly; */
    /* justify-content: flex-start; */
    align-items: center;
    justify-content: center;
    /* flex-grow: 2fr 1fr 1fr; */
    /* flex-shrink: ; */
    padding: 10px;
    gap: 20px;
}

#search-input{
    width: 250px;
    height: 30px;
    /* margin-right: 10px; */
    font-size: 15px;
    padding-left: 10px;
}
#search-icon{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    cursor: pointer;
}

.search-box{
    /* flex: 2fr; */
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;


}
.user-box, .cart-box{
    /* flex: 1fr; */
    height: 30px;
    width: 30px;
    /* margin-top: 10px; */
    /* border: 2px solid black; */
    /* border-radius: 500%; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#user-icon, #cart-icon{
    height: 90%;
    width: 90%;
    padding: 2px;
}

.bottom{
    width: 100%;
    /* border: 2px solid brown; */
    height: 40%;
    display: flex;
    justify-content: center;
}
.order{
    width: 50%;
    font-size: 20px;
    background-color: black;
    border-radius: 20px;
    color: aliceblue;
    cursor: pointer;
}


/* footer */

.footer{
    padding-top: 50px;
    height: 300px;
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer-item{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    /* align-content: flex-start; */
    height: 100%;
}
.nothing{
    margin: 20px;
}
.footer-item a {
    margin-bottom: 20px;
    font-size: 20px;
}